datafactory/pipeline/PL_COPY_ODATA_METADATA.json
{
	"name": "PL_COPY_ODATA_METADATA",
	"properties": {
		"activities": [
			{
				"name": "l_metadata",
				"description": "Lista todas as CDS Views e os parâmetros de processamento.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "DS_ATBL_WATERMARK",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "fe_metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "l_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('l_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ep_sap_ingestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_COPY_ODATA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SAP_ODATA_AUTH_KEY": {
										"value": "@item().ODataServiceAuthKey",
										"type": "Expression"
									},
									"SAP_ODATA_SRV": {
										"value": "@item().PartitionKey",
										"type": "Expression"
									},
									"SAP_ENTITY_NAME": {
										"value": "@item().RowKey",
										"type": "Expression"
									},
									"OUTPUT_PATH": {
										"value": "@item().OutputPath",
										"type": "Expression"
									},
									"SAP_ODATA_FILTERS": {
										"value": "@item().Filter",
										"type": "Expression"
									},
									"BATCHSIZE": {
										"value": "@item().BatchSize",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}