datafactory/pipeline/PL_COPY_ODATA.json
{
	"name": "PL_COPY_ODATA",
	"properties": {
		"activities": [
			{
				"name": "cd_odata_sap",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_var_odata_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_var_odata_usr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ODATA_SAP",
						"type": "DatasetReference",
						"parameters": {
							"SAP_GW_HOST": {
								"value": "@variables('ODATA_URL')",
								"type": "Expression"
							},
							"SAP_GW_USER": {
								"value": "@variables('ODATA_USR')",
								"type": "Expression"
							},
							"SAP_ODATA_SRV": {
								"value": "@pipeline().parameters.SAP_ODATA_SRV",
								"type": "Expression"
							},
							"SAP_ENTITY": {
								"value": "@pipeline().parameters.SAP_ENTITY_NAME",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_RAW_SAP",
						"type": "DatasetReference",
						"parameters": {
							"PATH_TO_ENTITY": {
								"value": "@pipeline().parameters.OUTPUT_PATH",
								"type": "Expression"
							},
							"COMPRESS_TYPE": "snappy"
						}
					}
				]
			},
			{
				"name": "w_get_odata_auth_key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{concat('https://kv-ramadoanalytics.vault.azure.net/secrets/', pipeline().parameters.SAP_ODATA_AUTH_KEY, '?api-version=7.0')}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzServicesIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"resource": "https://vault.azure.net",
						"credential": {
							"referenceName": "uai-ramadoanalytics-credential",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			},
			{
				"name": "set_var_odata_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "w_get_odata_auth_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ODATA_URL",
					"value": {
						"value": "@activity('w_get_odata_auth_key').output.firstRow.host",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_var_odata_usr",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "w_get_odata_auth_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ODATA_USR",
					"value": {
						"value": "@activity('w_get_odata_auth_key').output.firstRow.user",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SAP_ODATA_AUTH_KEY": {
				"type": "string"
			},
			"SAP_ODATA_SRV": {
				"type": "string"
			},
			"SAP_ENTITY_NAME": {
				"type": "string"
			},
			"OUTPUT_PATH": {
				"type": "string"
			}
		},
		"variables": {
			"ODATA_URL": {
				"type": "String"
			},
			"ODATA_USR": {
				"type": "String"
			}
		},
		"annotations": []
	}
}