df-ramadoanalytics/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-ramadoanalytics"
		},
		"LS_ADLS_RAMADOANALYTICSDATA_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_RAMADOANALYTICSDATA'"
		},
		"LS_ATBL_RAMADOANALYTICSDATA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ATBL_RAMADOANALYTICSDATA'"
		},
		"LS_AKV_RAMADOANALYTICS_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-ramadoanalytics.vault.azure.net/"
		},
		"pe-adlgen2-ramadoanalytics_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/9e79b470-ec7a-4a74-a8a2-09647bbd3470/resourceGroups/RAMADO-ADF/providers/Microsoft.Storage/storageAccounts/ramadoanalyticsdata"
		},
		"pe-adlgen2-ramadoanalytics_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"pe-adlgen2-ramadoanalytics_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"ramadoanalyticsdata.dfs.core.windows.net"
			]
		},
		"pe-storage-ramadoanalytics_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/9e79b470-ec7a-4a74-a8a2-09647bbd3470/resourceGroups/RAMADO-ADF/providers/Microsoft.Storage/storageAccounts/ramadoanalyticsdata"
		},
		"pe-storage-ramadoanalytics_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"pe-storage-ramadoanalytics_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"ramadoanalyticsdata.blob.core.windows.net"
			]
		},
		"pe-tablestorage-ramadoanalytics_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/9e79b470-ec7a-4a74-a8a2-09647bbd3470/resourceGroups/RAMADO-ADF/providers/Microsoft.Storage/storageAccounts/ramadoanalyticsdata"
		},
		"pe-tablestorage-ramadoanalytics_properties_groupId": {
			"type": "string",
			"defaultValue": "table"
		},
		"pe-tablestorage-ramadoanalytics_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"ramadoanalyticsdata.table.core.windows.net"
			]
		},
		"LS_ADLS_RAMADOANALYTICSDATA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ramadoanalyticsdata.dfs.core.windows.net/"
		},
		"LS_ODATA_SAP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat(linkedService().SAP_GW_HOST, linkedService().SAP_ODATA_SRV)}"
		},
		"LS_ODATA_SAP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "@{linkedService().SAP_GW_USER}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/uai-ramadoanalytics-credential')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/9e79b470-ec7a-4a74-a8a2-09647bbd3470/resourcegroups/RAMADO-ADF/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai-ramadoanalytics"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AKV_RAMADOANALYTICS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexão com key vault KV-RAMADOANALYTICS",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AKV_RAMADOANALYTICS_properties_typeProperties_baseUrl')]",
					"credential": {
						"referenceName": "uai-ramadoanalytics-credential",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/uai-ramadoanalytics-credential')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzServicesIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "Rede virtual habilitada para uso do managed private endpoints",
				"typeProperties": {
					"computeProperties": {
						"location": "Brazil South",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-adlgen2-ramadoanalytics')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-adlgen2-ramadoanalytics_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-adlgen2-ramadoanalytics_properties_groupId')]",
				"fqdns": "[parameters('pe-adlgen2-ramadoanalytics_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-storage-ramadoanalytics')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-storage-ramadoanalytics_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-storage-ramadoanalytics_properties_groupId')]",
				"fqdns": "[parameters('pe-storage-ramadoanalytics_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-tablestorage-ramadoanalytics')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-tablestorage-ramadoanalytics_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-tablestorage-ramadoanalytics_properties_groupId')]",
				"fqdns": "[parameters('pe-tablestorage-ramadoanalytics_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_RAMADOANALYTICSDATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_RAMADOANALYTICSDATA_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_RAMADOANALYTICSDATA_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AzServicesIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzServicesIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ATBL_RAMADOANALYTICSDATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_ATBL_RAMADOANALYTICSDATA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AzServicesIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzServicesIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ODATA_SAP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"SAP_GW_HOST": {
						"type": "String"
					},
					"SAP_ODATA_SRV": {
						"type": "String"
					},
					"SAP_GW_USER": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('LS_ODATA_SAP_properties_typeProperties_url')]",
					"authenticationType": "Basic",
					"userName": "[parameters('LS_ODATA_SAP_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_AKV_RAMADOANALYTICS",
							"type": "LinkedServiceReference"
						},
						"secretName": "SAP-GATEWAY-PWD"
					}
				},
				"connectVia": {
					"referenceName": "AzServicesIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzServicesIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV_RAMADOANALYTICS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_SAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RAMADOANALYTICSDATA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PATH_TO_ENTITY": {
						"type": "string"
					},
					"COMPRESS_TYPE": {
						"type": "string",
						"defaultValue": "snappy"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().PATH_TO_ENTITY",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": {
						"value": "@dataset().COMPRESS_TYPE",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RAMADOANALYTICSDATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ATBL_WATERMARK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ATBL_RAMADOANALYTICSDATA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "watermarktable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ATBL_RAMADOANALYTICSDATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ODATA_SAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ODATA_SAP",
					"type": "LinkedServiceReference",
					"parameters": {
						"SAP_GW_HOST": {
							"value": "@dataset().SAP_GW_HOST",
							"type": "Expression"
						},
						"SAP_ODATA_SRV": {
							"value": "@dataset().SAP_ODATA_SRV",
							"type": "Expression"
						},
						"SAP_GW_USER": {
							"value": "@dataset().SAP_GW_USER",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SAP_GW_HOST": {
						"type": "string"
					},
					"SAP_GW_USER": {
						"type": "string"
					},
					"SAP_ODATA_SRV": {
						"type": "string"
					},
					"SAP_ENTITY": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "ODataResource",
				"schema": [],
				"typeProperties": {
					"path": {
						"value": "@dataset().SAP_ENTITY",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ODATA_SAP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_ODATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "w_get_odata_auth_key",
						"description": "Obtém os parâmetros para autenticação no SAP Gateway.",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:02:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@{concat('https://kv-ramadoanalytics.vault.azure.net/secrets/', pipeline().parameters.SAP_ODATA_AUTH_KEY, '?api-version=7.0')}",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AzServicesIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"resource": "https://vault.azure.net",
								"credential": {
									"referenceName": "uai-ramadoanalytics-credential",
									"type": "CredentialReference"
								},
								"type": "UserAssignedManagedIdentity"
							}
						}
					},
					{
						"name": "set_ver_odata_host",
						"description": "Adiciona o host do SAP Gateway a variável",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "w_get_odata_auth_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ODATA_HOST",
							"value": {
								"value": "@json(activity('w_get_odata_auth_key').output.value).host",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set_var_odata_user",
						"description": "Adiciona o usuário do SAP Gateway a variável",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "w_get_odata_auth_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ODATA_USER",
							"value": {
								"value": "@json(activity('w_get_odata_auth_key').output.value).user",
								"type": "Expression"
							}
						}
					},
					{
						"name": "l_count",
						"description": "Obtém o total de registros ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set_ver_odata_host",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set_var_odata_user",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:06:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ODataSource",
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "DS_ODATA_SAP",
								"type": "DatasetReference",
								"parameters": {
									"SAP_GW_HOST": {
										"value": "@variables('ODATA_HOST')",
										"type": "Expression"
									},
									"SAP_GW_USER": {
										"value": "@variables('ODATA_USER')",
										"type": "Expression"
									},
									"SAP_ODATA_SRV": {
										"value": "@pipeline().parameters.SAP_ODATA_SRV",
										"type": "Expression"
									},
									"SAP_ENTITY": {
										"value": "@{concat(pipeline().parameters.SAP_ENTITY_NAME, '/$count')}",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "ForEachODataBatch",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "l_count",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0, add(div(int(activity('l_count').output.firstRow), int(pipeline().parameters.BATCHSIZE)),1))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "cd_odata_sap_copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ODataSource",
											"query": {
												"value": "@concat('$top=',pipeline().parameters.BATCHSIZE, '&$skip=',string(mul(int(item().value), int(pipeline().parameters.BATCHSIZE))))",
												"type": "Expression"
											},
											"httpRequestTimeout": "00:05:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_ODATA_SAP",
											"type": "DatasetReference",
											"parameters": {
												"SAP_GW_HOST": {
													"value": "@variables('ODATA_HOST')",
													"type": "Expression"
												},
												"SAP_GW_USER": {
													"value": "@variables('ODATA_USER')",
													"type": "Expression"
												},
												"SAP_ODATA_SRV": {
													"value": "@pipeline().parameters.SAP_ODATA_SRV",
													"type": "Expression"
												},
												"SAP_ENTITY": {
													"value": "@pipeline().parameters.SAP_ENTITY_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_SAP",
											"type": "DatasetReference",
											"parameters": {
												"PATH_TO_ENTITY": {
													"value": "@{concat(pipeline().parameters.OUTPUT_PATH, '/', pipeline().parameters.SAP_ENTITY_NAME)}",
													"type": "Expression"
												},
												"COMPRESS_TYPE": "snappy"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SAP_ODATA_AUTH_KEY": {
						"type": "string"
					},
					"SAP_ODATA_SRV": {
						"type": "string"
					},
					"SAP_ENTITY_NAME": {
						"type": "string"
					},
					"OUTPUT_PATH": {
						"type": "string"
					},
					"SAP_ODATA_FILTERS": {
						"type": "string"
					},
					"BATCHSIZE": {
						"type": "string"
					}
				},
				"variables": {
					"ODATA_HOST": {
						"type": "String"
					},
					"ODATA_USER": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzServicesIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/DS_ODATA_SAP')]",
				"[concat(variables('factoryId'), '/credentials/uai-ramadoanalytics-credential')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_SAP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_ODATA_METADATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "l_metadata",
						"description": "Lista todas as CDS Views e os parâmetros de processamento.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "DS_ATBL_WATERMARK",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "fe_metadata",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "l_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('l_metadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ep_sap_ingestion",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_COPY_ODATA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SAP_ODATA_AUTH_KEY": {
												"value": "@item().ODataServiceAuthKey",
												"type": "Expression"
											},
											"SAP_ODATA_SRV": {
												"value": "@item().PartitionKey",
												"type": "Expression"
											},
											"SAP_ENTITY_NAME": {
												"value": "@item().RowKey",
												"type": "Expression"
											},
											"OUTPUT_PATH": {
												"value": "@item().OutputPath",
												"type": "Expression"
											},
											"SAP_ODATA_FILTERS": {
												"value": "@item().Filter",
												"type": "Expression"
											},
											"BATCHSIZE": {
												"value": "@item().BatchSize",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ATBL_WATERMARK')]",
				"[concat(variables('factoryId'), '/pipelines/PL_COPY_ODATA')]"
			]
		}
	]
}